header {
    border-bottom-color: #fa7268 !important;
    background: #ffe1e0 !important;
}

header>#header-area>a>h1 {
    background: url(http://MinhyukJeong.github.io/ggd_logo_mobile_pink.png) no-repeat;
}

nav#nav>.nav-header {
    background: #fa7268;
}

#header-top-notice strong.notice-badge {
    background: #fa7268;
}

header>#header-area>#header-search-link {
    color: #fa7268;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:focus {
    background-color: #fa7268;
    border-color: #fa7268;
}

.pagination>.active>a:hover, .pagination>.active>span:hover{
animation: pulse 1s infinite;
}
@keyframes pulse {
  0% {
    background-color: #fa7268;
border-color: #fa7268;
  }
  50% {
    background-color: #ffe1e0;
border-color: #ffe1e0;
  }

 100% {
    background-color: #fa7268;
border-color: #fa7268;
  }
}

.btn-primary {
    color: #fff;
    background-color: #fa7268;
    border-color: #fa7268;
}

.pagination>li>a, .pagination>li>span {
    color: #fa7268;
}

#board-info {
    border-top: 4px solid #fa7268;
    background: #ffe1e0;
    max-height: 46px;
}

#article-list > .article-list-row.notice {
    background: #ffe1e0 !important;
}

#article-list #article-list-category {
    background: #ffffff;
}

#article-list #article-list-category>a {
    background: #ffffff;
}

/* 다이노소어 븅신같이 부르는거 */
span[data-param1='JKanStyle']:hover>img, span[data-param1='JKanStyle']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/dinosour.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-list>.article-list-row>.item>a.list-title>small.comment-count {
    color: #fa7268;
}

#article-list>.article-list-row>.item>a.list-title>.list-writer.logged>span {
    color: #682b03;
}

#article-content-wrapper #article-content img[alt='JKanStyle'], img[alt='JKanStyle'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/dinosour.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/*박수치는거 */
span[data-param1='OptimizePrime']:hover>img, span[data-param1='OptimizePrime']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/handclap.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='OptimizePrime'], img[alt='OptimizePrime'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/handclap.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 라스푸틴 */
span[data-param1='StoneLightning']:hover>img, span[data-param1='StoneLightning']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/lasputin.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='StoneLightning'], img[alt='StoneLightning'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/lasputin.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 토끼 */
span[data-param1='TheRinger']:hover>img, span[data-param1='TheRinger']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/bunny.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='TheRinger'], img[alt='TheRinger'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/bunny.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 소주 */
span[data-param1='RedCoat']:hover>img, span[data-param1='RedCoat']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/soju.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='RedCoat'], img[alt='RedCoat'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/soju.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 귀엽 */
span[data-param1='Kappa']:hover>img, span[data-param1='Kappa']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='Kappa'], img[alt='Kappa'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 귀엽 */
span[data-param1='Kappa']:hover>img, span[data-param1='Kappa']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='Kappa'], img[alt='Kappa'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 넴지 */
span[data-param1='JonCarnage']:hover>img, span[data-param1='JonCarnage']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/nemzy.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='JonCarnage'], img[alt='JonCarnage'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/nemzy.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 숩알라이 */
span[data-param1='BCWarrior']:hover>img, span[data-param1='BCWarrior']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/soopalie.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='BCWarrior'], img[alt='BCWarrior'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/soopalie.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 답답 */
span[data-param1='GingerPower']:hover>img, span[data-param1='GingerPower']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/dapdap.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='GingerPower'], img[alt='GingerPower'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/dapdap.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}
