body {
    width: 100% !important;
    height: auto;
    background: linear-gradient(180deg, #ffffff 0%,  #ffffff 65% ,#fa7268 100%);
    background-size: 400% 400%;

    -webkit-animation: backback 20s ease infinite;
    -moz-animation: backback 20s ease infinite;
    animation: backback 20s ease infinite;
}
@-webkit-keyframes backback {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes backback {
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}
@keyframes backback { 
    0%{background-position:50% 0%}
    50%{background-position:50% 100%}
    100%{background-position:50% 0%}
}

span.a-badge i.fa.fa-info-circle {
    color: #fa7268;
    vertical-align: -2px !important;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-writer.logged, #article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {
    color: #682b03;
}

::selection {
    background:#fa7268;
    color: #FFF;
    text-shadow: none;
}
::-moz-selection {
    background:#fa7268;
    color: #FFF;
    text-shadow: none;
}
::-webkit-selection {
    background:#fa7268;
    color: #FFF;
    text-shadow: none;
}

header #header-bar>.row {
    border-top: 5px solid #fa7268;
    background-color: #ffe1e0;
    box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
    border-radius: 0 0 15px 15px;
}

#article-reply-area #reply-real-area .reply > .reply-header, #article-reply-area #reply-best-area .reply>.reply-header {
    background: #ffe1e0;
}

#article-reply-area #reply-real-area .reply > .reply-header > .reply-menu a, #article-reply-area #reply-best-area .reply > .reply-header > .reply-menu a {
    text-decoration: none;
    color: #682b03;
}

#article-list>.article-list-row.hot {
background: rgba(255,142,67,1);
background: -moz-linear-gradient(30deg, rgba(250,114,104,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
background: -webkit-gradient(30deg, right top, color-stop(0%, rgba(250,114,104,1)), color-stop(15%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
background: -webkit-linear-gradient(30deg, rgba(250,114,104,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
background: -o-linear-gradient(30deg, rgba(250,114,104,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
background: -ms-linear-gradient(30deg, rgba(250,114,104,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
background: linear-gradient(30deg, rgba(250,114,104,1) 0%, rgba(255,255,255,1) 15%, rgba(255,255,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fa7268', endColorstr='#ffffff', GradientType=1 );
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #fa7268;
}

header .row > div:nth-child(1) > a img {
    opacity: 0;
}
header .row>div:nth-child(1)>a {
    display: block;
    height: 50px;
    background: url(http://MinhyukJeong.github.io/sgd_logo_pink.png) no-repeat;
    background-size: auto 70px;
margin-top: 5px;
}

#main .menu-wrapper>.header {
    background: #fa7268;
    border-radius: 10px 10px 0 0;
}

#article-list>.article-list-row:first-of-type {
    border-top: 2px solid #fa7268;
}

#article-content-wrapper>.header {
    border-top: 2px solid #fa7268;
    background: #ffe1e0;
}

.btn-primary {
    color: #fff;
    background-color: #fa7268;
    border-color: #fa7268;
}

.btn-primary:hover {
    color: #fff;
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    background-color: #fa7268;
border-color: #fa7268;
  }
  50% {
    background-color: #ffe1e0;
border-color: #ffe1e0;
  }

 100% {
    background-color: #fa7268;
border-color: #fa7268;
  }
}

#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #848484;
}

header #right-search-form>input[type=text] {
    border: 3px solid #fa7268;
}

header #right-search-form>#right-search-btn {
    color: #fa7268;
}

a {
    color: #fa7268;
    text-decoration: none;
}

#main .menu-wrapper>a>i.fa.fa-square {
    width: 24px;
    display: inline-block;
    text-align: center;
    font-size: 0.1em;
    color: #fa7268;
    vertical-align: 0.2em;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>span, .pagination>.active>span:focus {
    background-color: #fa7268;
    border-color: #fa7268;
}

.pagination>.active>a:hover, .pagination>.active>span:hover{
animation: pulse 1s infinite;
}

.pagination>li>a, .pagination>li>span {
    color: #fa7268;
}

.pagination>li>a, .pagination>li>span {
    border: 1px solid #ffe1e0;
}

#article-list #article-list-category {
    border-top: 2px solid #fa7268;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;

    background: rgba(255,255,255,1);
background: -moz-linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(250,114,104,1) 100%);
background: -webkit-gradient(30deg, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(85%, rgba(250,114,104,1)), color-stop(100%, rgba(255,142,67,1)));
background: -webkit-linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(250,114,104,1) 100%);
background: -o-linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(250,114,104,1) 100%);
background: -ms-linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(250,114,104,1) 100%);
background: linear-gradient(30deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 85%, rgba(250,114,104,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fa7268', GradientType=1 );
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #fa7268;
}

#board-info #viewers-area {
    color: #000000;
}

.badge {
    background-color: #fa7268;
}


#article-list #article-list-category>a {
    background: #ffffff;
}


#article-list>.article-list-row>.item>.list-title>small.comment-count {
    color: #fa7268;
}

header #header-bar {
    margin-top: 0 !important;
height: 44.38px;
}

header > .container {
     background: url(https://minhyukjeong.github.io/soopwelcome_p.png) no-repeat center bottom;
background-position: 60%;
background-size:  auto 76px;
height: 76px;
}
header > .container > .row {
    position: relative;
}

header {
    padding: 0 !important;
}

header #right-search-form {
    padding: 0.5em 0;
margin-top: 5px;
}

#article-list>.article-list-row>.item>.list-title>small.favo {
    font-size: 11px;
    line-height: 13px;
    position: relative;
    text-align: center;
    padding: 0px 2px;
    color: #f5cfcf;
    word-break: break-word;
    border-radius: 1px;
    top: 3px;
    float: left;
}

#main .menu-wrapper .spacer {
    background: #ffe1e0;
    display: block;
    height: 0.35em;
}

#main .menu-wrapper>a>em {
    color: #fa7268;
}

span.a-badge i.fa.fa-star { 
    opacity: 100; color:rgba(95,02,22,0); 
    vertical-align: 2px !important;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background:url(https://minhyukjeong.github.io/badge3.png);
    animation: infinite rot360 1.2s both alternate;
}

@keyframes rot360 { 
 0% { 
  transform: rotate(45deg);
  }
 100% {
  transform: rotate(-45deg);
 }
}

#article-list > .article-list-row.notice:hover, #article-list>.article-list-row.hot:hover { animation: 0.2s anim_hovered_background forwards ease-in; }
@keyframes anim_hovered_background {
     from { background-color: #f3f3f3; }
     to {background-color: #ffe1e0; }
    }

#article-list>.article-list-row>.item>.list-title>a:visited {
    color: #848484 !important;
}

#main #main-content > div.frame {
    box-shadow: 3px 0px 10px rgba(0, 02, 22, 0.2);
    border-radius: 15px;
}

#article-list {
   border-radius: 15px;
}

.btn.square {
    border-radius: 5px;
}
.pagination>.active>a {
  border-radius: 5px;
}

#board-info #viewers-area #viewers:before {
    content: "꼼크리트 ";
    cursor: text;
}

#board-info #viewers-area #viewers:after {
    content: "명 머기중";
    cursor: text;
}

#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {
    color: #682b03;
    font-weight: bold;
  display:flex;
  text-align: left;
  flex-direction: row-reverse;
justify-content: flex-end;
}

#article-reply-area > .header h5 {
    color: #682b03;
}

#article-content-wrapper>.footer {
    background: #ffe1e0;
    border-bottom: 2px solid #fa7268;
}


#board-info #board-info-bottom a {
    color: #682b03;
}

#article-list>.article-list-row>.item>.list-title>.list-writer>span {
  width: 140px;
}

#article-list>.article-list-row>.item>.list-title>.list-writer {
  text-align:left;
}

.fa-user:before {
    content: "\f23c";
}

a {
    color: #000000;
    text-decoration: none;
}

#article-list>.article-list-row>.item>.list-title>.list-category {
 text-align : center;
 width : 72px;
}

#board-info #board-info-profile-img {
    width: 3.5em;
    height: auto;
    animation: infinite rotrot both 5s;
}

@keyframes rotrot {
 94%{
  transform:rotate(0deg);
 }
95%{
 transform: rotate(8deg);
}
96%{
 transform: rotate(-8deg);
}
97%{
 transform: rotate(8deg);
}
98%{
 transform: rotate(-8deg);
}
99%{
 transform: rotate(8deg);
}
100%{
 transform: rotate(-8deg);
}
}

#article-list #article-option-area>#article-option-area-toggle-btn{
 opacity: 0;
}
#board-info h1>a {
 font-size: 0;
}
#board-info h1>a:first-child:before {
    content: '';
    font-size: 24px;
}
#board-info h1>a:first-child:after {
    content: '꼬꼬망망';
 font-size: 24px;
}

.badge {
  opacity:0;
font-size:0;
}

header #header-bar #header-menu-right #userDropdown #notification-badge {
 opacity:100;
 font-size: 12px;
background: #a34201;
}

#article-content-wrapper #article-content img[alt='angelb6Zz'], img[alt='angelb6Zz'] {
    width: 36px;
    height: 36px !important;
}

#main #main-content > div.frame {
    box-shadow: 3px 3px 10px rgba(0, 02, 22, 0.2);
}

.fr-command.fr-emoticon>img, .fr-command.fr-emoticon {
    width: 30px !important;
    height: 30px !important;
}
/* 다이노소어 븅신같이 부르는거 */
span[data-param1='JKanStyle']:hover>img, span[data-param1='JKanStyle']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/dinosour.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='JKanStyle'], img[alt='JKanStyle'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/dinosour.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/*박수치는거 */
span[data-param1='OptimizePrime']:hover>img, span[data-param1='OptimizePrime']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/handclap.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='OptimizePrime'], img[alt='OptimizePrime'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/handclap.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 라스푸틴 */
span[data-param1='StoneLightning']:hover>img, span[data-param1='StoneLightning']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/lasputin.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='StoneLightning'], img[alt='StoneLightning'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/lasputin.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 토끼 */
span[data-param1='TheRinger']:hover>img, span[data-param1='TheRinger']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/bunny.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='TheRinger'], img[alt='TheRinger'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/bunny.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 소주 */
span[data-param1='RedCoat']:hover>img, span[data-param1='RedCoat']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/soju.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='RedCoat'], img[alt='RedCoat'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/soju.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 귀엽 */
span[data-param1='Kappa']:hover>img, span[data-param1='Kappa']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='Kappa'], img[alt='Kappa'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 귀엽 */
span[data-param1='Kappa']:hover>img, span[data-param1='Kappa']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='Kappa'], img[alt='Kappa'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/cute.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 넴지 */
span[data-param1='JonCarnage']:hover>img, span[data-param1='JonCarnage']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/nemzy.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='JonCarnage'], img[alt='JonCarnage'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/nemzy.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 숩알라이 */
span[data-param1='BCWarrior']:hover>img, span[data-param1='BCWarrior']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/soopalie.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='BCWarrior'], img[alt='BCWarrior'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/soopalie.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

/* 답답 */
span[data-param1='GingerPower']:hover>img, span[data-param1='GingerPower']>img {
    width: 30px;
    height: 30px;
    padding-left: 30px;
    background: url(https://minhyukjeong.github.io/dapdap.gif) no-repeat;
    background-size: 30px;
    background-position: center;
}

#article-content-wrapper #article-content img[alt='GingerPower'], img[alt='GingerPower'] {
    width: 60px;
    height: 60px !important;
    padding-left: 60px;
    background: url(https://minhyukjeong.github.io/dapdap.gif) no-repeat;
    background-size: 80px;
    background-position: center;
}

